*.dSYM
example/client
example/log
example/server
lib/libev-4.04fixed
lib/libev
lib/libev-4.04
lib/libev-4.11/
lib/libev-4.11built/
lib/libzdb
lib/libzdb-2.10.3/
lib/libzdb-2.10.3built/
svn-commit.*
.deps/
clnt_unittest
serv_unittest
config.h
config.log
config.status
*.tar.gz
src/hash/Makefile
src/Makefile
*.dmg
.DS_Store
autom4te*
gingko_clnt
gingko_serv
stamp-h1
*.orig
kfp_docs*
server.log
client.log
*.[ao]
build/
*~
.svn/
test
output*
